<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<footer>
    <h1>Este es mi footer, Ares. Enterate de una vez.</h1>
</footer>
</body>
</html>